body {font-family: Arial; padding: 20px;}
header {background: #005bff; padding: 20px; color: white; text-align: center;}
h1 {color: #003bbb;}
.btn {display: inline-block; margin-top: 20px; padding: 10px 20px; background: #005bff; color: white; text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
th {background: #005bff; color: white;}
